/* Remove white flash */
html, body {
  background: black;
}

/* Copyright */
body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  touch-action: none;
}

#app {
  height: 100%;
  font-family: "Montserrat", serif;
}

#app a {
  text-decoration: none;
  color: #fff;
}

.hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1, h2, p {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  line-height: 100%;
  user-select: none;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* Fade-out effect for loader */
#loader {
  transition: opacity 0.5s ease;
}

/* Tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }
}

/* Large Phones */
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 34px;
  }

  .hero {
    gap: 6px;
  }

  #app a {
    font-size: 14px;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 26px;
  }

  #app a {
    font-size: 12px;
  }
}

/* Extra Small Phones */
@media (max-width: 360px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }
}
